---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.author__avatar {
    transition: all 0.3s ease;
}
  
.author__avatar:hover {
    content: url('https://tenor.com/view/cat-explosion-sad-explode-gif-15295996165959499721'); /* Remplacer l'image par une autre au survol */
}